<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
                <th>Edit</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td>{{obj.name}}</td>
                <td>link</td>
                <td>edit</td>
                <td>update</td>
                <td>
                {% url "update" obj.id %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

